/* flexible images */
#custom-homepage-regions img {
    border-radius: 10px;
    width: 100%;
    height:auto;
}
#custom-homepage-regions .column img {
    
}
.editing #custom-homepage-regions .lightbox img,
.editing #custom-homepage-regions .commands img {
    width: auto;
}

/* Reset margins, borders, padding etc.. */
#custom-homepage-regions .block,
#custom-homepage-regions .block .content,
#custom-homepage-regions .block .content .no-overflow,
#custom-homepage-regions .block > .header,
#custom-homepage-regions div.header h1,
#custom-homepage-regions div.header h2,
#custom-homepage-regions div.header h3,
#custom-homepage-regions div.header h4,
#custom-homepage-regions div.header h5,
#custom-homepage-regions div.header h6 {
    padding:0;
    margin:0;
    border:none;
    background-color:transparent;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* HEADINGS & TEXT */
#custom-homepage-regions div.header h2,
#custom-homepage-regions div.content h2
{
    /*margin-left:12px;
    font-size:24px; // Change to em's when theme is done. 1.846em = 24px with a base of 13px ;
    color:#0a0a0a;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight:normal;*/
}

#custom-homepage-regions div.content p {
    /*margin:12px;
    font-size:12px; // Change to em's when theme is done. 1.846em = 24px with a base of 13px ;
    line-height:1.167em; // 14px from 12px font size 
    color:#333;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;*/
    padding: 0;
    margin: 0;
}
/* END HEADINGS & TEXT */

/* column */
#custom-homepage-regions .column {
    float:left;
    /*min-height:50px;*/
    position: relative;
}

/* container margins */
#custom-homepage-regions #region-hero-unit,
#custom-homepage-regions #region-two-cols-wrap,
#custom-homepage-regions #region-three-cols-wrap,
#custom-homepage-regions #region-two-cols-wrap {
    margin-bottom: 2%;
    padding: 0 !important;
}

/* edit mode tools start */
#custom-homepage-regions .block .header .commands {
    position:relative;
    display: inline;
    top:0;
    right:0;
    width:200px;
    z-index:1000;
}
#custom-homepage-regions .block .header .block_action {
    display:none;
}
/* edit mode tools end */

/* Hero Unit Start */
#custom-homepage-regions #region-hero-unit {
    position: relative;
}

    #custom-homepage-regions #region-hero-unit .hero-heading {
        position: absolute;
        top:80px;
        left:2.564103%;
        font-size: 1.8em;
        background-color: #FFF;
        color: #000;
        margin:0;
        padding:10px;
        letter-spacing:-2px;
    }

    #custom-homepage-regions #region-hero-unit div.introtext {
        position:absolute;
        top:20px;
        left:2.564103%;
        background:url([[pix:theme|white-transparent]]), repeat 0 0 transparent;
        width:210px;
        max-height:80%;
        overflow:hidden;
    }
    #custom-homepage-regions #region-hero-unit div.introtext h1 {
        color: #fff;
        font-size: 2.3em;
        letter-spacing:-2px;
    }

    #custom-homepage-regions #region-hero-unit div.content div.introtext p {
        font-size:1.2em;
        color: #fff;
    }

#custom-homepage-regions #region-hero-unit .block .header {
        position:absolute;
        right:0;
    }

    #custom-homepage-regions #region-hero-unit img {
        border-radius: 10px;
    }
/* Hero Unit End */

/* two columns start */
#custom-homepage-regions #region-two-cols-wrap {}
    /* general column */
    #custom-homepage-regions #region-two-cols-wrap .column{
        width:49%;
    }

        #custom-homepage-regions #region-two-cols-wrap .column .column-image {
            position: relative;
        }
            #custom-homepage-regions #region-two-cols-wrap .column .column-image img {
                vertical-align: top;
            }

        #custom-homepage-regions #region-two-cols-wrap .column .column-image .course-button{
            display:block;
            position:absolute;
            bottom:0;
            right:0;
            padding:8px 10px;
            text-align:center;
            text-decoration: none;
            color: #FFFFFF;
            text-transform: uppercase;
            font-weight: bold;
            /*font-size:12px;*/
            background-color: #4a7d9f;
        }

    /* left */
    #custom-homepage-regions #region-two-cols-wrap>.column{
        clear:left;
    }
    /* right */
    #custom-homepage-regions #region-two-cols-wrap>.column+.column{
        float:right;
        clear:right;
    }
/* two columns end */

/* three columns start */
#custom-homepage-regions #region-three-cols-wrap{}
    /* three cols header*/
    #custom-homepage-regions #region-three-cols-wrap>.three-cols-header {
        width: auto;
        clear:both;
        position:relative;
    }

        #custom-homepage-regions #region-three-cols-wrap>.three-cols-header h2 {
            margin:0px 12px 15px;
            display:inline-block;
            background:url([[pix:theme|youtubeicon]]) no-repeat 100% 0 transparent;
            line-height: 32px; /* height of background icon */
            padding-right: 42px;
        }

/* general column */
    #custom-homepage-regions #region-three-cols-wrap .column {
        width: 31.410256%; /* check in ie */
    }

    /* left */
    #custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column{}
    /* middle */
    #custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column+.column{
        margin:0 2.884651%;
    }
    /* right */
    #custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column+.column+.column{
        float: right;
    }
/* three columns end */

/* carousel start */
#custom-homepage-regions #region-carousel-head {
    position:relative;
}

#custom-homepage-regions #region-carousel div.content h3 {
    color:#FFF;
}

#custom-homepage-regions #region-carousel div.content p {
    color:#FFF;
    margin:12px 0;
    line-height:1.25em;
}

#custom-homepage-regions #region-carousel {
    position:relative;
}

#custom-homepage-regions #region-carousel a.launch-link {
    display:inline-block;
    padding:8px 10px;
    text-align:center;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    /*font-size:12px;*/
    background-color: #4a7d9f;
}
/* carousel end */

/* Editing On - Columns */
.editing #custom-homepage-regions #region-hero-unit, 
.editing #custom-homepage-regions #region-two-cols-wrap .column, 
.editing #custom-homepage-regions #region-three-cols-wrap .three-cols-header, 
.editing #custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column, 
.editing #custom-homepage-regions #region-three-cols-wrap>.three-cols-header+.column+.column {
    /*min-height: 50px;
    background: #f3f3f3;
    margin-bottom: 20px;*/
}

/* Buttons */
#custom-homepage-regions .column .content a {
    text-align: center;
    border-radius: 10px;
    padding: 10%;
    display: block;
}

/* My Courses */
#custom-homepage-regions .column .mycourses .content a {
    background: #413d3c;
}
#custom-homepage-regions .column .mycourses .content a:hover {
    background: #585452;
}
/* Find Course */
#custom-homepage-regions .column .findcourse .content a {
    background: #f26223;
}
#custom-homepage-regions .column .findcourse .content a:hover {
    background: #f97339;
}

/****************************
Video 
- flexible youtube embed: John Surdakowski.
- http://avexdesigns.com/responsive-youtube-embed
****************************/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}