/*******************
General
*******************/
/* Responsive */
.row-fluid .span8 {width: 75%;} /*Block - Main*/
#page-site-index.editing .row-fluid .span8 {width: 75%;}
.row-fluid .span4 {width: 25%;} /*Block - Pre*/
.row-fluid .span9 {width: 79.5%;} /*Block Pre + Main*/
.row-fluid .span3 {margin-left: 0; width:20.5%;} /*Block - Post*/
.container-fluid {
    max-width: 1245px; /*optimised for 1366px screen-res*/
}
body {
    margin-bottom: 150px;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    font-family: 'Open Sans', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    color: #000;
}
a, a:link, a:visited {
    color: #0088de;
}
h1, h2, h3, h4, h5 {
    color: #c60c30;
}
.breadcrumb a {
    font-weight: 500;
    color: #0088de;
    font-size: 0.9em;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #ba1d3d;
    color: #fff;
    font-size: 0.9em;
    border: none;
}
button:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:focus, 
input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:focus, 
button:active, input.form-submit:active, input[type="button"]:hover, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button.active, input.form-submit.active, input[type="button"].active, input[type="submit"].active, input[type="reset"].active, button.disabled, input.form-submit:hover, input.form-submit.disabled, input[type="button"].disabled, input[type="submit"].disabled, input[type="reset"].disabled, button[disabled], input.form-submit[disabled], input[type="button"][disabled], input[type="submit"][disabled], input[type="reset"][disabled], input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #ee1743;
    opacity: 1;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background-image: none !important;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner {
    background: #031223;
}
div#custommenu ul li {
    font-weight: 500;
}
div#custommenu ul li a {
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
div#custommenu ul li a:hover {
    background: #00a1de;
}
div#custommenu ul li.selected a {
    background: #00a1de;
    color: #fff;
    border-radius: 0;
}

/********************************
Header
********************************/
#page-header {
    background: #031223 url([[pix:theme|bg_header]]) center top no-repeat;
}
#page-navbar-wrapper {
    background: #fff url([[pix:theme|bg_breadcrumb]]) center top no-repeat;
    padding-top: 10px;
}
.logininfo {
    color: #fff;
    padding-left: 0;
}
.logininfo a {
    color: #fff;
    text-decoration: underline;
}
.logininfo a:hover {
    text-decoration: none;
}
.user-picture img {
    border-radius: 50%;
    background-clip: padding-box;
}
.logo {
    padding:20px 15px;
}
.bannertext {
    margin-top: -102px;
    padding-right: 15px;
}

/********************************
Blocks
********************************/
.block {
    background: #fff;
}
.block .header .title h2 {
    color: #333;
    font-weight: 600;
}
.block .moveto.customcommand.requiresjs {
    float: left;
    padding-top: 3px;
}

/*Block - Region Pre and Post */
.block .header, .block-region .hidden .header {
    background: #283647 url([[pix:theme|bg_texture]]) center top no-repeat;
}
.block .header .title h2, .block .header .title h2 {
    color: #fff;
}

/* Block - Navigation */
.block_navigation.block .header, .block_navigation.block.hidden .header, .block_settings.block .header, .block_settings.block.hidden .header {
    background: #000 url([[pix:theme|bg_texture]]) center top no-repeat;
}
.block_navigation.block .content, .block_settings.block .content {
    background: #efefef;
}
.block_navigation.block .content a, .block_settings.block .content a {
    color: #000;
}

/* Block - Settings or Admin */
.block .footer input#adminsearchquery {
    width: 117px;
}

/* Block - Course Overview */
.block_course_overview .content {
    margin: 0 10px;
}

/* Block - Action Plan */
.block_action_plans.block {
    border: 1px solid #00a1de;
    border-radius: 6px;
}
.block_action_plans.block .header {
    background: #00a1de url([[pix:theme|bg_texture]]) center top no-repeat;
}
.block_action_plans.block .content {
    background: #e7f7fd;
}

/********************************
Custom Homepage
********************************/
#custom-homepage-regions #region-hero-unit h1 {
    font-weight: normal;
    color: #c60c30;
    font-size: 200%;
}
#custom-homepage-regions .column .content {
    margin-bottom: 3%;
}
#custom-homepage-regions .column .content a {
    text-align: center;
    padding: 0;
    display: block;
}
#custom-homepage-regions img {
    border-radius: 5px;
}
#page-site-index #page-navbar {
    display: none;
}
#page-site-index #page-header {
    margin-bottom: 10px;
}
/* Disabled buttons */
#custom-homepage-regions .disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

/********************************
Course - Tiles Format
********************************/
.tileoutlinearea {
    background-position: top center;
    border-radius: 10px !important;
    min-height: 250px;
}
.tile a {
    color: #fff;
    background: #fff url([[pix:theme|tilebg_all]]) top left no-repeat !important;
    background-size: cover !important;
}
.tiletitle {
    background-color: rgba(0,0,0,0.7);

    text-decoration: none;
    border-radius: 0 0 10px 10px ;
}
.tile a:hover .tiletitle {
    background-color: rgba(0,0,0,0.9);
    text-decoration: none;
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 10px;
}
.tileoutlinecontent {
    max-width: 40%;
}
.tileoutlinecontent h3.sectionname,
.tileoutlinecontent .summary {
    color: #333;
}
/* Topics view */
.tiletopicnav ul li a {
    color: #fff;
    border: 1px solid #ba1d3d;
    background: #ba1d3d;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #00a1de; 
    border: 1px solid #00a1de;
    color: #fff ;
}
.tiletopicnav ul li a.current {
    background: #00a1de;
    border: 1px solid #00a1de;
    color: #fff;
}

/********************************
Course - Topics Format
********************************/
.course-content ul.topics li.section .summary {
    margin-left: auto;
}

/********************************
Docking
********************************/
#dockeditempanel {
    z-index: 10;
}
#dockeditempanel .dockeditempanel_hd {
    background: #031223;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #fff;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}
#dock .dockedtitle, #dock .dockedtitle:hover {
    background: #031223;
}

/********************************
Footer
********************************/
#page-footer {
    background: #000 url([[pix:theme|bg_footer]]) center top no-repeat;
    padding-top: 50px;
    border: none;
}
#page-footer, #page-footer p {
    color: #888;
}
#page-footer a {
    color: #fff;
}
#page-footer .logos-footer {
    text-align: left;
    float: left;
}
#page-footer .logos-footer a {
    padding-right: 25px;
}
#page-footer .footer-text {
    max-width: 500px;
}
#page-footer .footer-text, #page-footer .year, #page-footer .footnote, #page-footer .helplink {
    display: block;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#region-main > div > br {
    display: none;
}
#region-main .moodle-actionmenu ul {
    width: inherit;
}

/********************************
Login page
********************************/
body#page-login-index {
    background: #000 url([[pix:theme|bg_header]]) no-repeat center top;
    /*background: #000 url([[pix:theme|bg_texture2]]) center bottom no-repeat;*/
}
body#page-login-index #page-header {
    background: rgba(0,0,0,0.2);
}
#page-login-index .navbar-inner {
    display: none;
}
#page-login-index #page {
    margin: 0 auto !important;
}
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #region-main {
    padding: auto 0;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index #page-footer {
    background-position: bottom center;
    padding-top: 20px;
}
.loginbox.twocolumns .loginpanel, .loginbox.twocolumns .signuppanel {
    display: none;
}
/* Login panels */
#page-login-index .loginbox {
    border: none;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.4);
    box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.4);
    width: 100%;
    max-width: 90%;
    padding: 3%;
    /* single column - disabled self rego */
    /*width: 40%;
    max-width: 475px;*/
}
.loginbox .loginpanel_left,
.loginbox .loginpanel_right {
    width: 49%;
}
.loginbox .loginpanel_left {
    float: left;
}
.loginbox .loginpanel_right {
    float: right;
}
.loginbox .loginform .form-input { 
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
.loginbox h2 {
    padding: 0;
    color: #fff;
    font-size: 200%;
    font-weight: normal;
    line-height: 1em;
}
.loginbox h2, .loginbox .subcontent {
    text-align: left;
    color: #fff;
}
.loginbox .subcontent {
    padding: 0;
}
.loginbox .loginform .form-input input {
    padding: 1em;
    width: 100%;
    max-width: 80%;
    display: block;
}
#page-login-index #loginbtn {
    padding: 0.6em 5em;
}
#page-login-index #notice > p {
    color: #fff;
}
.loginbox .desc {
    padding-top: 1em;
}
.loginbox .desc a {
    background: #ba1d3d;
    color: #fff;
    padding: 0.6em 1em;
    font-size: 0.9em;
    border-radius: 4px;
    margin-left: 5px;
}
.loginbox .desc a:hover {
    text-decoration: none;
    background: #ee1743;
}

/* Slides */
.slides_control {
    max-width: 550px !important;
}
.slides_container {
    overflow: hidden;
    height: 300px;
}
.slides_container .slide {
    padding: 0;
    line-height: 0em;
}
ul.pagination {
    list-style: none;
    position: relative;
    right: 0;
    margin: 10px 0 0 0;
    text-align: right;
}
ul.pagination li {
    display: inline;
}
ul.pagination li a {
    margin: 0 2px;
    padding: 3px 7px !important;
    width: 10px;
    height: 16px;
    color: #fff !important;
    background-color: #00a1de;
    text-decoration: none;
}
ul.pagination li a:hover, 
ul.pagination li.current a {
    color: #fff !important;
    background-color: #ba1d3d;
}

/********************************
Register page
********************************/
.fdescription.required {
    margin-left: auto !important;
    margin-top: 10px;
}

/********************************
Club Survey
********************************/
div.escreen_item_box_left, div.escreen_item_box_right {
    padding-bottom: 15px;
}
.escreen_item_label_left .req {
    float: left;
}
.escreen_item_label_left > p {
    float: left;
}
.escreen_item_presentation_left {
    clear: both;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    body {
        margin-bottom: 230px;
    }
    #page {
        padding: 0 10px 10px 10px;
    }
    .navbar .btn-navbar {
        margin: 5px;
        padding: 4px;
    }
    div#custommenu ul li a, div#totaramenu ul li a {
        padding: 5px 15px;
    }
    .logo {
        text-align: left;
        float: left;
        padding: 20px 15px;
    }
    .logo img {
        max-width: 130px;
    }
    .bannertext.text-right img {
        width: 90px;
        height: auto;
    }
    .bannertext {
        margin: 0;
        padding: 15px;
        float: right;
    }
    .logininfo {
        padding-left: 10px;
    }
    /*Login page*/
    #page-login-index .bannertext {
        margin-top: -7px !important;
    }
    #page-login-index .loginpanel_left,
    #page-login-index .loginpanel_right {
        width: 100%;
    }
    #page-login-index .loginpanel_right {
        margin-top: 20px;
    }
    /* Custom homepage */
    #custom-homepage-regions .column img {
        max-width: 500px;
    }
    #custom-homepage-regions .column .content {
        margin-bottom: 5px;
    }
    /* Footer */
    #page-footer .footer-text {
        max-width: inherit;
    }
    #page-footer #footnotewrapper, #page-footer .logos-footer {
        float: none;
        text-align: center;
    }
    #page-footer .footer-text, #page-footer .year, #page-footer .footnote, #page-footer .helplink {
        text-align: center;
        display: inline;
    }
    .logos-footer img {
        max-width: 20%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    body {
        margin-bottom: 230px;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]