/* styles using by escreen */
.escreen_switchrequired img{
}

span.escreen_info {
	font-weight:bold;
}
div.escreen_item_box_left, div.escreen_item_box_right {
}

div.escreen_depend {
	background:#DDDDDD;
}

div.escreen_complete_depend {
	background:#EEEEEE;
}

span.escreen_depend {
	color:#ff0000;
}

div.escreen_item_number_left, div.escreen_item_left {
	float:left;
}
div.escreen_item_number_right, div.escreen_item_right {
	float:right;
}

div.escreen_item_commands_left {
	float:right;
	text-align:right;
}

div.escreen_item_commands_right {
	float:left;
	text-align:left;
}

li.escreen_item_check_h_left,
li.escreen_item_check_h_right,
li.escreen_item_radio_h_left,
li.escreen_item_radio_h_right {
	list-style-type:none;
	display:inline;
}

div.escreen_item_select_h_left,
div.escreen_item_select_h_right {
    display:block;
}

li.escreen_item_check_v_left,
li.escreen_item_check_v_right,
li.escreen_item_radio_v_left,
li.escreen_item_radio_v_right {
	list-style-type:none;
	display:block;
}

div.escreen_item_select_v_left,
div.escreen_item_select_v_right {
    display:block;
}

div.escreen_items label{
    display: inline;
}

div.escreen_item_captcha_text_left,
div.escreen_item_captcha_img_left {
	display:inline;
	margin: 5px;
}
div.escreen_item_captcha_text_right,
div.escreen_item_captcha_img_right {
	display:inline;
	margin: 5px;
}

hr.escreen_pagebreak {
	height:8px;
	color:#aaaaaa;
	background-color:#aaaaaa;
	border:0px;
}

.drag_target_active {
        opacity: .25;
}

.drag_item_active {
        opacity: .5;
}

ul#escreen_draglist {
        list-style: none;
        padding: 0;
        margin: 0;
}

div#escreen_dragarea {
    width:95%;
}

div img.escreen_bar_image {
    height: 10px;
}

.path-mod-escreen input,
.path-mod-escreen textarea,
.path-mod-escreen .uneditable-input {
    width: auto;
}
